data/*.fasta
data/*.fastq
data/*.fa
data/*.fq

courses/L03_command_line_tools_for_genomics/gencommand_proj*

.idea/
.mypy_cache
.pytest_cache
*/*.pyc
*/*.pyd
*/**/__pycache__
*.egg-info
__pycache__/

# Ignore all gencommand directories
*/gencommand_*

# deprecated folders
deprecated
# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# macOS dir files
.DS_Store

*.pt
*.gz
*.tar

# IDE files
.idea
.vscode
.vs
